
.icon-mail:before {
  content: '\e800';
}

/* '' */
.icon-phone:before {
  content: '\e801';
}

/* '' */
.icon-eye:before {
  content: '\e802';
}

/* '' */
.icon-location:before {
  content: '\e803';
}

/* '' */
.icon-calendar:before {
  content: '\e804';
}

/* '' */
.icon-info:before {
  content: '\e805';
}

/* '' */
.icon-wrench:before {
  content: '\e806';
}

/* '' */
.icon-github-circled-alt2:before {
  content: '\f056';
}

/* '' */
.icon-linkedin:before {
  content: '\f05c';
}

/* '' */
.icon-code:before {
  content: '\f121';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */
.icon-codeopen:before {
  content: '\f1cb';
}

/* '' */
.icon-facebook-squared:before {
  content: '\f308';
}

/* '' */
.icon-linkedin-rect:before {
  content: '\f31b';
}

/* '' */