#projects {
  width: calc(100% - 10vw);
  padding: 0 5vw 5vw;
  text-align: center;
}

#projectsTitle {
  margin-top: -3vw;
  font-size: 4vw;
  color: #222831;
}

#projectTiles {
  height: auto;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectTile {
  margin: 1vw;
  width: 400px;
  height: 400px;
  border-radius: 10%;
  overflow: hidden;
  border: 5px solid #4f8a8b;
  position: relative;
}

.tileCover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #222831;
  z-index: 1;
  opacity: 0;
  top: -400px;
  color: #eee;
  transition: all 0.4s ease-in-out;
}

.projectTile:hover > .tileCover {
  top: 0;
  opacity: 0.9;
}

.projectTile img {
  max-height: 400px;
  transition: transform 0.3s;
}

.projectTile:hover img {
  transform: scale(1.1);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.tileTitle {
  margin-top: 25%;
  font-size: 2vw;
}

.tileButtons {
  width: 300px;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tileButton {
  width: 74px;
  height: 74px;
  margin: 0 10px;
  border: 3px solid #eeeeee;
  border-radius: 20%;
  background-color: #222831;
  transition: all 0.3s;
  line-height: 74px;
  font-size: 40px;
}

.tileButtons > a {
  color: #eeeeee;
}

.tileButton:hover {
  cursor: pointer;
  background-color: #4f8a8b;
}