#about {
  margin-top: 53px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: #eeeeee;
}

#aboutMe {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #fff;
}

#aboutMePhoto {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  border-radius: 20%;
  margin: 4vw auto;
  box-shadow: -2vw 2vw #eee;
}

#aboutMePhoto img {
  max-height: 30vw;
}

#skills {
  width: 50%;
}

#aboutMeText {
  margin: 1vw 4vw 4vw;
  font-size: 1.8vw;
  font-family: inherit;
}