.navBar {
  background-color: #191e25;
  height: 50px;
  border-bottom: 3px solid #4f8a8b;
  position: absolute;
  top: 100vh;
  width: 100%;
  z-index: 3;
}

.scrolled {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#navMenu {
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style-type: none;
}

.navBarItem {
  text-decoration: none;
  color: #ffffff;
  padding: 12px 20px;
  transition: all .3s ease-in;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.navBarItem:hover {
  color: #4f8a8b;
  cursor: pointer;
}
