#about {
  margin-top: 53px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: #eeeeee;
  z-index: 1;
}

#about-me {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #fff;
  align-items: center;
}

#about-me-photo {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  border-radius: 20%;
  margin-top: 4vw;
  box-shadow: -2vw 2vw #eee;
}

#about-me-photo img {
  max-height: 30vw;
}

#skills {
  width: 50%;
}

#about-me-text {
  margin: 0 2vw;
  font-size: 1.8vw;
  font-family: inherit;
  text-align: center;
}

#about-me-name {
  margin-top: 4vw;
  margin-bottom: 1vw;
  font-size: 2vw;
  font-weight: bold;
}