.notification {
  position: relative;
  text-align: center;
  min-height: 2em;
  margin-top: -0.1em;
  margin-bottom: 0.8em;
  width: 22.7em;
  background-color: #ffffff;
  line-height: 2em;
  font-size: 1.8em;
  border-radius: 1em;
  border: 0.3em solid #ffffff;
}


.exit {
  position: absolute;
  right: 1em;
  top: 0;
  width: 2em;
  height: 2em;
}

.exit:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.exit:before, .exit:after {
  position: absolute;
  left: 1em;
  content: ' ';
  height: 2em;
  width: 0.15em;
  background-color: #eeeeee;
}

.exit:before {
  transform: rotate(45deg);
}

.exit:after {
  transform: rotate(-45deg);
}

@media (max-width: 1023px) {

}


@media (max-width: 639px) {
  .notification {
    width: 16em;
    margin: 0.1em auto 0.5em;
    font-weight: bolder;
    font-size: 2.5em;
  }
}

@media (min-width: 1440px) {

}